 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 img {
    width: 7.5%;
 }

div {

    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto 0;
}